huts.dtd

<?xml version="1.0"?>
<!DOCTYPE catalog[
<!ELEMENT catalog (hut*)>
<!ELEMENT hut (name, description, thumbnail, location, contacts, capacity, gallery, amenities, exit_routes, nearby_sites)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT thumbnail EMPTY>
<!ATTLIST thumbnail source ENTITY #REQUIRED>
<!ELEMENT location (mountain, address, coordinates, altitude)>
<!ELEMENT mountain (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT coordinates (latitude, longitude)>
<!ELEMENT latitude (#PCDATA)>
<!ELEMENT longitude (#PCDATA)>
<!ELEMENT altitude (#PCDATA)>
<!ELEMENT contacts (phone+, email)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT capacity (#PCDATA)>
<!ELEMENT amenities EMPTY>
<!ATTLIST amenities water (yes|no) #REQUIRED
                    electricity (yes|no) #REQUIRED
                    heating (yes|no) #REQUIRED
                    bathroom (yes|no) #REQUIRED
                    shower (yes|no) #REQUIRED
                    canteen (yes|no) #REQUIRED
                    restaurant (yes|no) #REQUIRED
                    internet (yes|no) #REQUIRED
                    shop (yes|no) #REQUIRED
>
<!ELEMENT gallery (image*)>
<!ELEMENT image EMPTY>
<!ATTLIST image source ENTITY #REQUIRED>
<!ELEMENT exit_routes (route*)>
<!ELEMENT route (name, distance)>
<!ELEMENT name (#PCDATA) EMPTY>
<!ELEMENT distance (#PCDATA) EMPTY>
<!ELEMENT nearby_sites (site*)>
<!ELEMENT site (name, distance)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT distance (#PCDATA) EMPTY>
]>